<?xml version="1.0" encoding="UTF-8"?>

<!--

PHPUnit Configuration
=====================
This is a PHPUnit configuration file that contains
a number of useful defaults. I use this in many of
my projects. Feel free to steal it!

All tests located within the 'tests' directory will
be executed.

-->
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite>
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
